@import './colors.scss';

body {
    margin: 0;
    padding: 0;
    background-color: $white;
}

.content {
    margin: 0;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    img {
        margin: 0;
        width: 60vw;
        height: 60vh;
    }

    .bottom {
        position: absolute;
        bottom: 15%;
    }
}

form {
    margin-top: 25px;
    margin-right: 2.5vw;
    transform: translate(0%, 0%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: $white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid $light-blue;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: $light-blue;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 500px;
    cursor: pointer;
    
    input {
        display: block;
        color: $light-blue;
    }

    .fa {
        background: $light-blue;
        color: $white;
    }
}