@import './colors.scss';

body {
    margin: 0;
    background-color: $white;
}

.container {
    display: flex;
}

.box {
    height: 100%;

    &.left {
        width: 20%;
        position: fixed;
        background-color: $main-blue;
        background-size: contain;
        background-position: bottom;
        
        .title {
            display: flex;
            align-items: center;
            height: 10vh;

            h1 {
                margin: 10px;
                color: $yellow;
                text-align: center;
                font-size: 2vw;
                font-family: 'Montserrat', sans-serif;

                a {
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }

        .list {
            height: 90vh;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;

                li {
                    color: $white;
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 1.7vw;
                    text-shadow: 2px 2px $main-blue;
                    font-family: 'Montserrat', sans-serif;
                    padding-bottom: 20px;

                    &.selected {
                        color: $yellow;
                        text-decoration: underline $yellow wavy;
                        text-shadow: 2px 2px $main-blue;
                    }
                }
            }
        }
    }

    &.right {
        margin-left: 20%;
        width: 80%;

        .header-container {
            display: flex;
            justify-content: space-between;

            form {
                margin-top: 25px;
                margin-right: 2.5vw;
                transform: translate(0%, 0%);
                transition: all 1s;
                width: 50px;
                height: 50px;
                background: $white;
                box-sizing: border-box;
                border-radius: 25px;
                border: 4px solid $comprimary;
                padding: 5px;
            }
            
            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 42.5px;
                line-height: 30px;
                outline: 0;
                border: 0;
                display: none;
                font-size: 1em;
                border-radius: 20px;
                padding: 0 20px;
            }
            
            .fa {
                box-sizing: border-box;
                padding: 10px;
                width: 42.5px;
                height: 42.5px;
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50%;
                color: $main-blue;
                text-align: center;
                font-size: 1.2em;
                transition: all 1s;
            }
            
            form:hover {
                width: 200px;
                cursor: pointer;
                
                input {
                    display: block;
                    color: $main-blue;
                }

                .fa {
                    background: $white;
                    color: $comprimary;
                }
            }
            
            h1 {
                margin-top: 5px;
                color: $main-blue;
                background: url("../resources/pattern.png");
                background-size: contain;
                background-position: bottom;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 4.8em;
                font-family: 'Montserrat', sans-serif;
                margin-left: 25px;
                margin-bottom: 5px;
            }
        }        
    }
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .button {
        color: $white;
        background-color: $main-blue;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 1.1em;
        padding: 5px 20px;
        border: 0;
        border-radius: 15px;
    }
}

.chart-container {
    position: relative;
}